@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
    --cor1: #364a73;
    --cor2: #738c16;
    --cor3: #1d3b45;
    --cor4: #d9ad5b;
    --cor5: #f2e0d5;

    --fonte1: "Roboto", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: black;
    color: white;
    background-image: url(../imagens/fundo-telapequena.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

 /* Configuração pra mudar papel de parede */
 @media screen and (min-width: 600px){
    body {
        background-image: url(../imagens/fundo-telagrande.jpg);
    }
}

/*Estilo dos links no header*/

header {
    position: absolute;
    width: 100vw;
    height: 50px;
    background-color: #f2e0d5b6;
}

ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

li {
    margin: 15px;
    cursor: pointer;
}

a {
    text-decoration: none;
}

/*Estilo da aba de login*/

main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    height: 400px;
    width: 300px;
    background-color: transparent;
    backdrop-filter: blur(15px);
    border: 2px solid rgba(0, 0, 0, 0.233);
    border-radius: 20px;
    color: black;
    display: grid;
    place-items: center;
}

.container > h2 {
    font-family: "Roboto";
    font-size: 3em;
    font-weight: 900;
    color: var(--cor5);
}

label {
    color: black;
    font-size: 20px;
    font-family: var(--fonte1);
}

#idsenha, #idemail {
    padding: 2px;
}

#botao-enviar {
    padding: 5px;
    font-family: var(--fonte1);
    background-color: rgba(255, 255, 255, 0.404);
    border: 2px solid rgba(0, 0, 0, 0.438);
}

.registrar-conta {
    font-family: var(--fonte1);
    color: var(--cor5);
    text-align: center;
    font-weight: 500;
}

.registrar-conta > p > a {
    color: var(--cor3);
}